:root {
  --font-family-primary: "Montserrat", helvetica, arial, sans-serif;
  --font-size-small: 1rem;
  --font-size-medium: 1.125rem;
  --font-size-large: 1.375rem;
  --font-line-height-small: calc(var(--font-size-small) * 1.5);
  --font-line-height-medium: calc(var(--font-size-medium) * 1.5);
  --font-line-height-large: calc(var(--font-size-large) * 1.5);
  --font-margin: 0 0 var(--global-space-under) 0;
}
