:root {
  // colours
  --color-primary: #5b31e6;
  --color-primary-light: #3b61b30d;
  --color-secondary: rgb(56, 56, 56);
  --color-secondary-light: rgba(93, 93, 93, 0.685);
  --color-danger: #be421f;
  --color-danger-light: #c7492112;
  --color-success: #1b651d;
  --color-success-light: #d9f1df;
  --color-white: #fff;
  --color-light-grey: #f6f6f6;
  --color-charcoal: #333;
  --color-disabled: #d4d4d4;
  --color-disabled-light: rgb(238, 238, 238);

  // used by accordion/progressbar/tablist/table
  --global-box-width: 760px;
  // border
  --global-border-radius: 0;

  // box shadow
  --global-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;

  // space under
  --global-space-under: 1.5rem;

  // spacing
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-s: 0.75rem;
  --space-m: 1rem;
  --space-l: 2rem;
  --space-xl: 3rem;
  --space-xxl: 6rem;
  --space-xxxl: 8rem;
}
