:root {
  // colours
  --color-primary: #3b61b3;
  --color-danger: #a33718;
  --color-success: #30a14c;
  --color-white: #ffffff;
  --color-light-grey: #f2f2f2;
  --color-dark-black: #2a2a2a;

  //border
  --global-border-radius: 4px;

  // spacing
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-s: 0.75rem;
  --space-m: 1rem;
  --space-l: 2rem;
  --space-xl: 3rem;
  --space-xxl: 6rem;
  --space-xxxl: 8rem;
}
